@use "../abstracts/mixins" as m;

body {
  background-color: var(--color-secondary-light);
  position: relative;
}

.container {
  max-width: 37.5rem;
  max-height: 66.7rem;
  @include m.absCenter;

  @include m.breakpoint(large) {
    width: 60rem;
    height: 45rem;
    max-width: 60rem;
    max-height: 45rem;
  }

  @include m.breakpoint(xlarge) {
    min-width: 60rem;
    min-height: 45rem;
    width: 41.67vw;
    height: 56.25vh;
    max-width: none;
    max-height: none;
  }
}
