/* RESET */
//Based on: https://github.com/eduardofierropro/Reset-CSS

/* BASIC SETTINGS FOR */
/* Font */
@use "../abstracts/mixins" as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include m.breakpoint(xlarge) {
    font-size: 70%;
  }
}

body {
  height: 100%;
  /* optional */
  text-align: left;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;
}

/* Scrolling */
html {
  scroll-behavior: smooth;
}

/* Selected text */
::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

/* FIX COMMON BUGS WITH... */

/* Spacing */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

/* Media resources */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  object-fit: cover;
}

/* SVG */
svg {
  fill: currentColor;
}

/* Anchor tags */
// Outside paragraphs
a {
  display: block;
  text-decoration: none;
}
// Within paragraphs
p a {
  display: inline;
}

/* Text tags */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: var(--default-font-size);
  text-decoration: none;
  color: inherit;
}

strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
}

/* Blockquotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Forms */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-weight: inherit;
  font-size: var(--default-font-size);
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Tables */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
