@use "../abstracts/mixins" as m;

footer {
  width: 100%;
  position: absolute;
  bottom: 1em;
  transform: none;

  @include m.breakpoint(small) {
    transform: translateY(calc(3 * var(--default-font-size)));
  }
}

.attribution {
  font-size: var(--default-font-size);
  font-family: var(--font-primary);
  text-align: center;
}
