@use "../abstracts/mixins" as m;

footer {
  bottom: 1em;
  position: absolute;
}

.attribution {
  width: 37.5rem;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  text-align: center;
  margin: auto;

  @include m.breakpoint(large) {
    width: 65rem;
  }

  @include m.breakpoint(xlarge) {
    width: 144rem;
  }
}
