@use "../abstracts/mixins" as m;

footer {
  bottom: 1em;
  position: absolute;
  width: 100%;
}

.attribution {
  font-size: var(--default-font-size);
  font-family: var(--font-primary);
  text-align: center;
}
