@use "reset" as *;

body {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-weight: 500;
  /* 
  line-height:
  padding: 
  */
}

/*
HEADINGS
.heading-primary {}
.heading-secondary {}
.heading-tertiary {}

PARAGRAPHS
p {}
*/
