body {
  font-family: var(--font-primary);
  color: var(--color-neutral);
  font-weight: 500;
  font-size: var(--default-font-size);
}

a {
  color: var(--color-primary-light);
  transition: all 250ms ease-in-out;
  &:hover,
  &:active {
    color: var(--color-primary-dark);
  }
}
